---
layout: default
title: Main page
weight: -10
---
{% include nav.html %}

<h1>Welcome</h1>

<p>I hope to get this website going in the near future, with some computational tools for antennas
    and perhaps a blog about my activities in the shack & field.</p>

<h2>Latest posts</h2>

<ul class="postlisting">
{% for post in site.posts %}
<li>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {{ post.excerpt }}
    <small>{{ post.author | default: site.author }} {{ post.date | date: "%Y-%m-%d"}}</small>
</li>
{% endfor %}
</ul>